
.login-wrap{
  padding:30px;
  width:40%;
  position: fixed;
  left:50%;
  top:50%;
  transform: translate3d(-50%,-50%,0);
  background-color: aqua;
  .login-form{
    width:100%;
    .login-form-button{
      margin-right: 20px;
    }
  }
}